.tab {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 1px;
  margin: auto;
  width: 100%;
  box-shadow: 5px 10px #888888;
  margin-top: 10px;
  }
table {
  border-collapse: collapse;
  width: 100%;
  }

th, td {
  text-align: center;
  padding: 10px 32px;
  }

tr:nth-child(odd){background-color: #f2f2f2}

th {
  background-color: #66c9ab;
  color: rgb(29, 29, 29);
  }
  h2 {
    text-align: center;
    font-family: Courier;
  }
